# For PCBs designed using KiCAD: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.zip
*.sch-bak

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

RC Dashboard Digispark/export/
RC Light System/export/
RC Light System Output/export/
RC Light System Output Mini/export/
RC Exhaust System/export/
RC Exhaust System RGB/export/
RC Dashboard SuperMini/export/
RC Dashboard SuperMini2/export/
resources/